/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.hero-unit {
  background: #fff;
}
img {
  max-height: 250px;
  max-width: 250px;
}
.extreme_startups {
  background: #3d8ec5;
  max-width: 250px;
}
@media(max-width: 767px) {
  .span3 {
    text-align: center;
  }
  li {
    margin:auto;
  }
  .extreme_startups {
    margin: auto;
  }
}